.repo__container {
  padding: 2rem 2rem;
  border: 1px solid var(--first-color-lighter);
  border-radius: 0.5rem;
  width: 450px;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
  }

  /* Languages tag */
  .CSS {
    background-color: #563D7C;
    color:  var(--first-color-lighter);
  }

  .JavaScript {
    color: black;
    background-color: #F1E05A;
  }

  .HTML {
    background-color: #E34C26;
  }

  .Vue {
    background-color: #41B883;
  }

  .Shell {
    background-color: #89E051;
  }

  .Ruby {
    background-color: #741F20;
  }
}

.repo__language-tag {
  font-size: var(--small-font-size);

  padding: 0.25rem 1rem;
  background-color: rgba(117, 117, 117, 0.5);
  border-radius: 99px;
}

.repo__buttons {
  a {
    color: var(--first-color);
    transition: .2s ease;
    
    &:hover {
      text-decoration: underline;
      color: var(--first-color-alt);
    }
  }

  a:first-child {
    margin-right: 1rem;
  }
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--first-color-lighter);
  opacity: 0.4;
  margin: 1rem 0;
}

@media screen and (max-width: 530px) {
  .repo__container {
    padding: 1.5rem 2rem;
    width: 75vw;
  }
}

@media screen and (max-width:350px) {
  .repo__buttons {
    display: flex;
    flex-direction: column;

    a:first-child {
      margin-right: 0;
      margin-bottom: 0.25rem;
    }
  }
}