.portfolio__content {
  padding: 0 5rem;
  display: grid;
  place-items: center;

  grid-row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  flex-wrap: wrap;
}

.carousel__container {
  padding: 0 2rem;
  position: relative;
  overflow: visible;


  .react-multi-carousel-dot button{
    border-width: 0;
    background: var(--first-color-lighter);
    transition: width 0.3s;
  }
  .react-multi-carousel-dot--active button {
    background: var(--first-color);
    width: 22px;
    border-radius: 0.5rem;
  }

  .react-multiple-carousel__arrow--right {
    right: calc(4% + 1px);
  }

  .carousel__arrow--right,
  .carousel__arrow--left {
    position: absolute;
    top: 42%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    transition: background-color 0.2s;
    background-color: hsla(var(--hue-color), 69%, 61%, 0.5);
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    color: #ffffffc9;

    &:hover {
      background-color: hsla(var(--hue-color), 69%, 61%, 1);
    }
  }

  .carousel__arrow--right {
    right: calc(1%);
  }

  .carousel__arrow--left {
    left: calc(1%);
  }

  .react-multi-carousel-list {

    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
  }
}

@media screen and (max-width: 720px) {
  .carousel__container {
    display: flex;
    justify-content: center;

    .react-multi-carousel-list {
      width: 460px;
      padding: 0;
    }

    .react-multi-carousel-item {
      max-width: 100vw;
      display: flex;
      justify-content: center;
    }
  }
}